@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&family=Roboto:wght@100;300;400;500;700&display=swap");

@import "./helpers/variables";
@import "./helpers/mixins";

@import "./components/sidebarMenu";
@import "./components/header";
@import "./sections/slider";
@import "./sections/menu";
@import "./sections/products";
@import "./sections/about";
@import "./components/footer";
@import "./components/sidebarCart";
@import "./components/goods";
@import "./pages/order.scss";
@import "./components/mobile-cart";

body {
  font-family: "Roboto", sans-serif;
}

hr,
body,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.wrapper {
  display: flex;
  max-width: 2100px;
  margin: auto;
  &__content {
    width: 100%;
    background-color: $bg-light-gray;
  }
  @include mobile {
    overflow: hidden;
  }
}

main {
  padding: 30px 100px;
  max-width: 1170px;
  margin: 0 auto;
  @include mobile {
    padding: 0 20px;
  }
}

.sidebar-cart {
  width: 430px;
}
.col-6 {
  width: 50%;
  @include mobile {
    width: 100%;
  }
}
.col-4 {
  width: 33.33%;
  @include mobile {
    width: 100%;
  }
}
.col-3 {
  width: 25%;
  @include mobile {
    width: 50%;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
}
