.header {
  display: flex;
  border-bottom: 1px solid $bg-gray;

  &__logo {
    display: none;
  }
  &__right {
    @include flex(center, space-between);
    padding: 0 40px 0 18px;
    width: 83.33%;
  }

  &__city {
    span {
      @include font(14px, 300);
      color: $text-gray;
    }
    h6 {
      @include font(18px, 400);
      color: $text-black;
    }
  }

  &__search {
    margin-left: 70px;
    cursor: pointer;
  }

  &__nav {
    display: flex;
    ul {
      display: flex;
    }
    li {
      margin-right: 10px;
    }
    a {
      @include font(18px, 400);
      color: $text-black;
      transition: 0.2s;
      &:hover {
        color: $text-orange;
      }
    }
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 18px;
  border-right: 1px solid $bg-gray;
  &__title {
    @include font(18px, 500);
    color: $text-black;
  }

  &__phone {
    @include font(18px, 500);
    color: $text-orange;
  }

  &__time {
    display: flex;
    span {
      @include font(14px, 500);
      color: $text-gray;
      margin-left: 5px;
      white-space: nowrap;
    }
  }

  &__numbers {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.header {
  @include mobile {
    background-color: $bg-white;
    align-items: center;
    padding: 0 20px;
    &__logo {
      display: block;
    }
    &__city {
      display: none;
    }
    &__nav {
      ul {
        display: none;
      }
    }
    &__search {
      margin-left: 0;
    }
  }
}

.contacts {
  @include mobile {
    flex-direction: row;
    border-right: none;
    padding: 5px 15px;
    &__phone {
      font-size: 12px;
      white-space: nowrap;
    }
    &__title {
      font-size: 12px;
    }
    &__time {
      flex-direction: column;
      align-items: center;
      margin-left: 10px;
      img {
        width: 15px;
        height: 15px;
        margin-left: 10px;
      }
      span {
        font-size: 12px;
      }
    }
    &__work-time {
      white-space: normal;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
